{% extends "base.html" %}

{% block title %}Contact | Abdullah P I{% endblock %}

{% block content %}
<section id="contact" class="contact">
    <h2 class="section-title">Contact Me</h2>
    <article class="contact-card">
        <p>
            <i class="fa-solid fa-envelope"></i>
            abdullahpi912@gmail.com
        </p>
        <p>
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/abdullahpi912" target="_blank">
                github.com/abdullahpi912
            </a>
        </p>
        <p>
            <i class="fa-brands fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/abdullah-p-i-816854320" target="_blank">
                linkedin.com/in/abdullah-p-i-816854320
            </a>
        </p>
    </article>
</section>
{% endblock %}
